*.libburst-llvm-16.dylib filter=lfs diff=lfs merge=lfs -text
*ArtifactDB filter=lfs diff=lfs merge=lfs -text
*libil2cpp.so filter=lfs diff=lfs merge=lfs -text
*data~/payload.tar.7z filter=lfs diff=lfs merge=lfs -text
Library/PackageCache/com.unity.toolchain.macos-arm64-linux-x86_64@2.0.3/data~/payload.tar.7z filter=lfs diff=lfs merge=lfs -text
Library/PackageCache/com.unity.burst@1.8.13/.Runtime/libburst-llvm-16.dylib filter=lfs diff=lfs merge=lfs -text
Library/ArtifactDB filter=lfs diff=lfs merge=lfs -text
Library/Bee/artifacts/Android/d8kzr/libil2cpp.so filter=lfs diff=lfs merge=lfs -text
